openapi: '3.0.0'
info:
  version: 1.0.0
  title: Jaybird Farrow API
  license:
    name: MIT
servers:
  - url: https://api.jaybirdfarrow.com/v1
paths:
  /courses:
    get:
      summary: List all courses
      operationId: listCourses
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paged array of courses
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Courses'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a course enrollment
      operationId: createCourseEnrollment
      responses:
        '201':
          description: Enrollment successful
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /courses/{courseId}:
    get:
      summary: Retrieve specific course details
      operationId: showCourseById
      parameters:
        - name: courseId
          in: path
          required: true
          description: The ID of the course to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Courses'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /resources:
    get:
      summary: List available resources
      operationId: listResources
      parameters:
        - name: category
          in: query
          description: Filter resources by category like T.E.A.C.H or L.E.A.R.N
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A paged array of resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resources'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Upload a new resource
      operationId: createResource
      responses:
        '201':
          description: Resource uploaded successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Course:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
        framework:
          type: string
          enum: [T.E.A.C.H, L.E.A.R.N]
    Courses:
      type: array
      items:
        $ref: '#/components/schemas/Course'
    Resource:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        category:
          type: string
        url:
          type: string
    Resources:
      type: array
      items:
        $ref: '#/components/schemas/Resource'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string